.navbar-brand img {
    max-width: 140px;
    width: 100%;
}

#loaderOverlay { 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:99;
    .spinner-border {
        width: 100px;
        height: 100px;
    }
}