.measure-container {
    margin: 1px;
    padding: 5px;
    text-align: center;
}

.measure-icon {
    width: 30px;
}

.measure-title {
    font-size: 12px;
}

.measure-value {
    font-size:1rem;
}

